.navbar 
{
    margin-bottom: 0;
    font-family: 'Permanent Marker', cursive;
    color: black;
   
}

#particles-js
{   
    z-index: 100;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #141313;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.display_none
{
    display:none;
}
.my_container
{   
    z-index: 999;
    position: absolute;
    width:30%;
    top:300px;
    

    
    left: 35%;
    height: 600px;
}
.my_container > h2 
{
    text-align: center;
    margin-bottom:25px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
   
}
.my_container > .about_me
{
    color: white;
    font-size: 20px;
    line-height: 1.7em;
}
.my_container > .my_image
{
   width: 200px;
   height: 200px;
  
  
    margin-left: 180px;
}
img
{    border-radius:50%; 
    width: 200px;
    height: 200px;
   
    
}
.my_container > .my_hobbies
{
    color: white;
    font-size: 20px;
    line-height: 1.7em;
}
.button_set
{   
    z-index: 1000;
    position: absolute;
    width:17%;
    top:800px;
    left:40%;
    display: flex;
    justify-content: space-between;

}
button > a:hover
{
    text-decoration: none;
    color: black;
}
button > a
{
    text-decoration: none;
    color: black;
}
.button_set > button
{
    width:100px;
    height:40px;
    background-color: white;
    color:black;
    font-size: 20px;
    border-radius:4px;
}
